.custom-right-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .custom-switch-checkbox .form-check-input:checked {
    background-color: #00ed64 !important; /* Your custom green color */
    border-color: #00ed64 !important; /* Your custom green color */
  }
  .custom-switch-checkbox .form-check-input {
    height: 22px !important;
    width: 44px !important;
    appearance: none;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 0 1px rgb(0 0 0 / 20);
  }
  .btn-reject:disabled .disabled, .btn-reject.disabled, .btn-reject:disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
  }
  .yellow-star {
    color: #FFD700;
  }
  .gray-star {
    color: rgb(192, 192, 192);
  }
  .toggle-on
  {
    position: relative;
    height: 24px !important;
    width: 44px !important;
    appearance: none;
    cursor: pointer;
    box-shadow: inset 0 0 1px rgb(0 0 0 / 20);
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #00ed64 !important;
    border-radius: 50px;
}
  .toggle-on-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    right: 3px;
}
.toggle-off
  {
    position: relative;
    height: 24px !important;
    width: 44px !important;
    appearance: none;
    cursor: pointer;
    box-shadow: inset 0 0 1px rgb(0 0 0 / 20);
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 50px;
}
  .toggle-off-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 3px;
    
}
  .prgressImage {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    min-height: 95px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .prgressImage-left {
    width: 100%;
    max-width: 50px;
  }
  a {
    cursor: pointer;
  }
  
  .prgressImage-left img {
    width: 100% !important;
    margin-left: 0px !important;
  }
  
  .prgressImage-right p,
  .prgressImage-right2 .loyaltyPoints {
    margin-bottom: 0px;
    color: #a5a5a5;
    font-size: 12px;
  }
  
  .prgressImage-right {
    padding-left: 10px;
  }
  .prgressImage-right h5
  {
    font-size: 20px;
    font-weight: 600;
  }
  
  .card-dsh {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  .mobile-data-export {
    display: none;
  }
  .custom-button-block {
    text-align: right;
  }
  .prgressImage-upper-joint {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    min-height: 95px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .prgressImage6 {
    display: flex;
    align-items: center;
  }
  .prgressImage-right2 .total-balance {
    margin-bottom: 6px;
    white-space: nowrap;
    color: #000;
    font-size: 12px;
    font-weight: 600;
  }
  .prgressImage-right2 {
    padding-left: 10px;
  }
  .prgressImage-right4 .average-from-last-month {
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 600;
  }
  .average-from-last-month-inner img {
    width: 100%;
    max-width: 20px;
    margin-right: 7px;
  }
  .average-from-last-month-inner {
    font-size: 10px;
    color: #a5a5a5 !important;
  }
  .average-from-last-month-inner span {
    font-size: 12px;
    color: #38e25d !important;
    font-weight: 600;
    margin-right: 4px;
  }
  .change-periode {
    color: #000;
    font-size: 12px;
    font-weight: 600;
  }
  .change-text-data {
    font-size: 10px;
    color: #a5a5a5;
  }
  .custom-dropdown-toggle {
    padding-left: 50px;
  }
  .usert-img {
    display: flex;
    align-items: center;
  }
  .delete-main-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff2d2d;
    margin: auto;
  }
  .delete-main-image img {
    width: 100%;
    max-width: 30px;
  }
  .custom-modal-content {
    padding: 20px;
  }
  .main-delete-block {
    text-align: center;
  }
  p.point-text2 {
    text-align: center;
    margin: 0px;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 14px;
    color: #000;
  }
  .point-text2 span {
    color: #9a9a9a !important;
  }
  p.custom-user-name {
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 13px;
    /* color: #1B86FE; */
  }
  .custom-user-name-inner
  {
    color: #000 !important;
    text-decoration: underline;
  }
  .custom-open-link
  {
    text-decoration: underline;
    color: #1B86FE !important;
    cursor: pointer;
  }
  .usert-img-inner-text span
  {
    font-size: 8px;
    color: #ff2d2d;
  }
  .usert-img-inner-text {
    padding-left: 10px;
  }
  p.custom-user-email {
    color: #a5a5a5 !important;
    margin-bottom: 0px;
    font-size: 12px;
  }
  .small-modal-custom
  {
    width: 300px !important;
    margin: auto;
  }
  .profile-upper-block
  {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }
  .custom-delete-modal-footer {
    text-align: center;
  }
  .custom-delete-modal-footer .btn-cancel {
    color: #898989;
    border: 1px solid #898989;
    background-color: #ffffff;
    margin-right: 10px;
  }
  .custom-delete-modal-footer .btn-yes {
    background-color: #ff2d2d;
    color: #ffffff;
  }
  .custom-padding-manage-right {
    padding-right: 10px !important;
  }
  .custom-padding-manage-left {
    padding-left: 10px !important;
  }
  .header-responsive-block .page-title
{
    color: #000;
    font-size: 20px !important;
    font-weight: 500 !important;
}
  .custom-pedding-left
  {
    padding-left: 40px;
    cursor: pointer;
  }
  .custom-padding-manage-both {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
 
  .custom-modal-header
  {
    text-align: right;
  }
  .modal-dialog2
  {
    width: 100%;
    max-width: 70% !important;
  }
  .uploaded-docs
  {
    padding-top: 20px;
  }
  .uploaded-docs-inner-docs .document-name
  {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-align: justify;
  }
  .uploaded-docs h4
  {
    margin-bottom: 20px !important;
    font-size: 19px;
margin-left: 0px;
  }
  .uploaded-docs-inner
  {
    border: 1px solid #dee2e6;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .three-dots-block,
.action {
  text-align: center;
  margin-left: 20px;
}
  .submit-btn-upper-block
  {
    text-align: center;
    padding: 20px 0px;
  }
  .submit-btn-upper-block .btn-submit
  {
    background-color: #1B86FE;
    color: #ffffff;
  }
  .btn-approve{
    background-color: #1B86FE;
    color: #ffffff;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #1B86FE;
    font-size: 13px;
    border-radius: 7px;
  }
  .icons2 {
    padding: 0px !important;
    margin: 0px !important;
    cursor: pointer;
  }
  .icons2 li {
    background: none repeat scroll 0 0 black;
    height: 7px;
    width: 7px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 0px;
    margin-top: 3px;
    vertical-align: top;
    border-radius: 50%;
    pointer-events: none;
    cursor: pointer;
  }
  .filter-data2 input[type="checkbox"] {
    position: relative;
    border: 0px;
    border-radius: 2px;
    background: #d9d9d9;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    opacity: 1;
  }
  
  .filter-data2 input[type="checkbox"]:checked {
    background-color: #fff;
    background-image: url(../../assets/img/wallet/notification-tick.png) !important;
    border: 1px solid #1B86FE;
    color: #1B86FE;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-reject
  {
    background-color: #FF2D2D;
    color: #fff;
    margin-right: 10px;
    border: 1px solid #FF2D2D;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 7px;
  }
  .user-profile-image-block {
    display: flex;
    align-items: center;
  }
  .user-profile-details-doc {
    padding-left: 20px;
  }
  .user-profile-details-doc .user-name {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .nav-profile-img img {
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
    object-fit: contain;
  }
  .user-profile-details-doc .user-email {
    color: #a5a5a5;
    font-size: 12px;
    margin-bottom: 0px;
  }
  .user-profile-details-doc .user-id {
    color: #1B86FE;
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 600;
  }
  .document-aadhar-block {
    width: 100%;
    max-width: 300px;
    margin: auto;
    position: relative;
  }
  .document-aadhar-block2 {
    width: 100%;
    max-width: 300px;
    margin: auto;
    position: relative;
  }
  .document-aadhar-block2 img {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  .document-left-block {
    text-align: center;
  }
  .button-block-yes-no
  {
    text-align: center;
    margin-top: 10px;
  }
  .button-block-yes-no .btn-yes
  {
    background-color: #1B86FE;
    color: #ffffff;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #ffffff;
  }
  .button-block-yes-no .btn-no
  {
    background-color: #ffffff;
    color: #1B86FE;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #1B86FE;
  }
  .document-attachment 
  {
    cursor: pointer;
    text-align: right;
  }
  .page-header
{
    margin-bottom: 0px !important;
}
.red-color
{
  color: #f14336;
}
.no-result-found
{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.custom-filter
{
  position: relative;
  margin-left: 10px;
}
.filter-data
{
  border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -293px;
    padding: 20px;
    width: 300px;
    top: 42px;
    z-index: 99;
}
.filter-data2
{
  border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    padding: 14px;
    margin-bottom: 10px;
}
.apply-reset-filter-block
{
  width: 100%;
  text-align: center;
  padding: 0%10px 0px;
}
.apply-reset-filter-block .apply-btn
{
  background-color: #1B86FE;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  border: 1px solid #1B86FE;
}
.apply-reset-filter-block .reset-btn
{
  background-color: #ffffff;
  color: #1B86FE;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #1B86FE;
}
.radio-labels
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-check-input[type="radio"] {
  border-radius: 50% !important;
}
.form-check .form-check-label {
  display: inline-block;
  margin-left: 0rem !important;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #000;
}
button.veiw-attachment {
  border: 0px;
  background-color: #1B86FE;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}
  .document-aadhar-block img {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }
  @media only screen and (max-width: 767px) {
    .content-wrapper {
      background: #f2edf3;
      padding: 2.75rem 10px;
      width: 100%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
  
    .page-header {
      display: block !important;
    }
  
    .page-header .page-title {
      margin-bottom: 0px !important;
      font-size: 22px !important;
    }
  
    .mobile-data-export {
      display: initial !important;
    }
  
    .web-data-export {
      display: none !important;
    }
  
    .header-responsive-block {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  
    .mobile-breadcrumb {
      padding: 5px 10px !important;
    }
  
    nav.ndash-icon.change {
      margin-right: 0px !important;
      background-color: #fff !important;
      width: 100% !important;
      margin-top: 10px !important;
    }
  
    .prgressImage-left {
      width: 20%;
    }
  
    .prgressImage-left img {
      width: 100% !important;
      margin-left: 0px !important;
      max-width: 50px;
    }
  }
  