
<div class="content-wrapper2">
  <div class="page-header">
    <div class="header-responsive-block">
      <h3 class="page-title">Revenue Management</h3>
      <div class="mobile-data-export">
        <nav aria-label="breadcrumb" class="ndash-icon new">
          <ul class="breadcrumb mobile-breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <span class="download"
                ><img src="./assets/img/wallet/download.png"
              /></span>
              Generate Report
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="custom-right-nav">
      <nav aria-label="breadcrumb" class="ndash-icon new web-data-export">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span class="download"></span>
            Generate Report
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-6 mb-3 custom-padding-manage-right">
      <div class="prgressImage-upper-joint">
        <div class="prgressImage6">
          <div class="prgressImage-left">
            <div id="chart3">
              <apx-chart
                [series]="chartOptions3.series"
                [chart]="chartOptions3.chart"
                [plotOptions]="chartOptions3.plotOptions"
                [labels]="chartOptions3.labels"
              ></apx-chart>
            </div>
          </div>
          
          <div class="prgressImage-right2">
            <p class="total-balance">Total Balance</p>
            <h3 class="">
              $2,71,560.57
            </h3>
          </div>
        </div>
        <div class="prgressImage6">
          <div class="prgressImage-right4">
            <p class="average-from-last-month">Average from last month</p>
            <!-- <h5 class="">{{statatics.avg_balance}}</h5> -->
            <div class="average-from-last-month-inner">
              <img src="../../assets/img/wallet/average-icon.png" /><span
                class=""
                >+0.5%</span
              >invoices sent
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3 custom-padding-manage-both">
      <div class="prgressImage">
        <div class="prgressImage-left">
          <div id="chart3">
            <apx-chart
              [series]="chartOptions3.series"
              [chart]="chartOptions3.chart"
              [plotOptions]="chartOptions3.plotOptions"
              [labels]="chartOptions3.labels"
            ></apx-chart>
          </div>
         
        </div>
        <div class="prgressImage-right">
          <h5 class="">215</h5>
          <p class="">Registed user</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3 custom-padding-manage-both">
      <div class="prgressImage">
        <div class="prgressImage-left">
          <!-- <img src="./assets/img/wallet/progress.png" alt="..." /> -->
          <div id="chart3">
            <apx-chart
              [series]="chartOptions3.series"
              [chart]="chartOptions3.chart"
              [plotOptions]="chartOptions3.plotOptions"
              [labels]="chartOptions3.labels"
            ></apx-chart>
          </div>
        </div>
        <div class="prgressImage-right">
          <h5 class="">84</h5>
          <p class="">New Users</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 custom-padding-manage-right">
      <div class="transaction-view">
        <p class="transaction-volume">Transaction Volume</p>
        <span class="transaction-subHeading">Lorem ipsum dolor sit</span>
        <div class="transaction-volume-mage">
          <!-- <img src="./assets/img/wallet/progress.png" alt="..." /> -->
          <div id="chart2">
            <apx-chart
              [series]="chartOptions2.series"
              [chart]="chartOptions2.chart"
              [plotOptions]="chartOptions2.plotOptions"
              [labels]="chartOptions2.labels"
            ></apx-chart>
          </div>
        </div>
        <div class="total-transactions-upper">
          <div class="total-transactions">
            <div class="color-block"></div>
            <p class="total-transactions-heading">Total Transactions</p>
            <p class="total-transactions-ammount">45,215</p>
          </div>
          <div class="total-transactions">
            <div class="color-block2"></div>
            <p class="total-transactions-heading">Wallet Deposits</p>
            <p class="total-transactions-ammount">845</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 custom-padding-manage-both">
      <div class="transaction-view">
        <p class="transaction-volume">Total Loyalty Points</p>
        <span class="transaction-subHeading">Lorem ipsum dolor sit</span>
        <div class="points-count"> <span class="points-count-number">1,58,259</span><span class="points-count-points">points</span></div>
        <div class="total-loyalty-points">
          <!-- <img src="./assets/img/wallet/progress.png" alt="..." /> -->
          <div id="chart2">
            <apx-chart
              [series]="chartOptions2.series"
              [chart]="chartOptions2.chart"
              [plotOptions]="chartOptions2.plotOptions"
              [labels]="chartOptions2.labels"
            ></apx-chart>
          </div>
        </div>
        <div class="total-transactions-upper2">
          <div class="total-transactions">
            <div class="color-block3"></div>
            <p class="total-transactions-heading2">More than 10,000pts</p>
            <p class="total-transactions-ammount">215</p>
          </div>
          <div class="total-transactions">
            <div class="color-block4"></div>
            <p class="total-transactions-heading2">More than 5000 pts</p>
            <p class="total-transactions-ammount">845</p>
          </div>
          <div class="total-transactions">
            <div class="color-block5"></div>
            <p class="total-transactions-heading2">More than 1000pts</p>
            <p class="total-transactions-ammount">845</p>
          </div>
          <div class="total-transactions">
            <div class="color-block6"></div>
            <p class="total-transactions-heading2">Less than 1000pts</p>
            <p class="total-transactions-ammount">845</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 custom-padding-manage-left">
      <div id="chart" class="chart-container">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [legend]="chartOptions.legend"
          [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [xaxis]="chartOptions.xaxis"
        ></apx-chart>
      </div>
    </div>
  </div>
  <div class="transation-fee-setup">
<div class="row">
<div class="col-md-4">
  <div class="transation-fee-setup-inner">
     <p class="transaction-fee-heading">Transaction Fee Setup</p>
      <div class="form-group transaction-label">
        <label for="exampleInputEmail1">Transaction Fee</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="0.5%" aria-describedby="emailHelp">
      </div>
      <div class="btn-save-upper">
        <button type="submit" class="btn btn-save">Save</button>
      </div>
  </div>
  <div class="transation-fee-setup-inner" style="margin-top: 20px;">
     <div class="form-group merchant-label">
       <label for="exampleInputEmail1">Merchant Fee</label>
       <div class="edit-image-block">
       <input type="email" class="form-control" value="2.2%" id="exampleInputEmail1" aria-describedby="emailHelp">
       <img src="../../assets/img/wallet/edit-icon.png">
      </div>
     </div>
     <div class="btn-save-inner">
       <button type="submit" class="btn btn-save">Save</button>
     </div>
 </div>
</div>
<div class="col-md-4">
  <div class="transation-fee-setup-inner">
     <p class="transaction-fee-heading">Commission Fee Setup</p>
      <div class="form-group transaction-label">
        <label for="exampleInputEmail1">Transaction Fee</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="0.5%" aria-describedby="emailHelp">
      </div>
      <div class="btn-save-upper">
        <button type="submit" class="btn btn-save">Save</button>
      </div>
  </div>
  <div class="transation-fee-setup-inner" style="margin-top: 20px;">
     <div class="form-group merchant-label">
       <label for="exampleInputEmail1">Merchant Fee</label>
       <div class="edit-image-block">
       <input type="email" class="form-control" value="2.2%" id="exampleInputEmail1" aria-describedby="emailHelp">
       <img src="../../assets/img/wallet/edit-icon.png">
      </div>
     </div>
     <div class="btn-save-inner">
       <button type="submit" class="btn btn-save">Save</button>
     </div>
 </div>
</div>
</div>
  </div>

  <div class="transation-fee-setup">
    <h3 class="mb-3">Merchant Withdrawl</h3>
    <div class="row">
    <div class="col-md-6">
      <div class="transation-fee-setup-inner">
          <div class="form-group transaction-label">
            <label for="exampleInputEmail1">Daily Threshold</label>
            <input type="number" class="form-control" id="exampleInputEmail1" value="0.5%" aria-describedby="emailHelp">
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="transation-fee-setup-inner">
          <div class="form-group transaction-label">
            <label for="exampleInputEmail1">Percentage Commision After Threshold </label>
            <input type="number" class="form-control" id="exampleInputEmail1" value="0.5%" aria-describedby="emailHelp">
          </div>
          <div class="btn-save-upper">
            <button type="submit" class="btn btn-save">Save</button>
          </div>
      </div>
    </div>
    </div>
      </div>
  </div>
