<div class="container">
  <div class="main-login-block">
    <div class="login-block-inner">
      <div class="row">
        <div class="col-md-6">
          <div class="login-image-block">
            <!-- <img src="./assets/img/wallet/login.png" /> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="login-contant-block-upper2">
            <div class="login-contant-block">
              <h3 class="login-merchant">Forgot Password</h3>
              <div class="form-style">
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                  <div class="form-group pb-3">
                    <label>Verify your email-id</label>
                    <input
                      type="email"
                      placeholder="Email"
                      class="form-control"
                      aria-describedby="emailHelp"
                      formControlName="email"
                      [ngClass]="{ 'is-invalid': submitted && resetForm.get('email').invalid}"
                    />
                    <div
                      *ngIf="(submitted && resetForm.get('email').invalid) ||
                        resetForm.get('email').invalid &&
                        (resetForm.get('email').dirty ||
                          resetForm.get('email').touched)
                      "
                      style="color: red"
                    >
                      Please enter valid email
                    </div>
                  </div>
                  <div class="pb-2">
                    <button
                      type="submit"
                      class="btn merchant-login w-100 font-weight-bold mt-2"
                    >
                      Send Otp
                    </button>
                  </div>
                  <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
