<div class="common-class">
  <span class="card-title new-title">Edit Cms</span>
  <div class="card new-card other-pages">
    <div class="card-body">
      <p>Edit Page</p>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <label class="new-title">Page Title</label>

              <div class="form-group row mr-36">
                <input type="text" class="form-control new-class" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="new-title">Page sub-title</label>
                <div class="form-group row mr-36">
                  <input type="email" class="form-control new-class" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="new-title">Body Text</label>
                <div class="form-group row mr-36">
                  <textarea
                    class="form-control new-class"
                    placeholder="Description"
                    rows="4"
                    cols="50"
                  >
                  </textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <div
                  class="modal-footer border-top-0 d-flex justify-content-center cms-footer"
                >
                  <button type="submit" class="btn btn-text modal-button">
                    Preview
                  </button>
                  <button type="submit" class="btn btn-success modal-button">
                    create
                  </button>
                </div>

                <div class="upload-file">
                  <label>Add Media</label>
                  <div class="variants">
                    <div class="file">
                      <label for="input-file">
                        Upload a file or drag and drop
                        <span class=""> png,gif</span>
                      </label>

                      <input id="input-file" type="file" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
