<div class="common-class">
  <div class="common-class-left">
    <span class="card-title new-title">Sub-Admin Management
      <span *ngIf="statusType != 'ALL'" [ngStyle]="{ color: statusType == 'ACTIVE' ? '#00ed64' : 'red' }">
        <ng-container *ngIf="statusType == 'ACTIVE'; then activeUsers; else inactiveUsers">
        </ng-container>

        <ng-template #activeUsers>
          <span>- Active Users</span>
        </ng-template>
        <ng-template #inactiveUsers>
          <span>- <span class="custon-red">InActive Users</span></span>
        </ng-template>
      </span>
    </span>
    <div class="new-custom-button-for-mobile">
      <a href="javascript:void(0);" data-toggle="modal" data-target="#AddSubAdminForm" class="custom-button"
        (click)="resetForm()">+ Add New Sub-admin</a>
    </div>
  </div>
  <div class="common-class-right">
    <!-- <div class="search-field custom-search">
      <form class="d-flex align-items-center h-100" action="#">
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <i class="input-group-text border-0 mdi mdi-magnify"></i>
          </div>
          <input type="text" class="form-control bg-transparent border-0" placeholder="Search here"
            (keyup)="seach($event)"  (keydown)="restrickedWord($event)"/>
        </div>
      </form>
    </div> -->
    <div class="search-field custom-search">
      <form>
        <div class="search-block-outer">
          <div class="search-icon">
            <i class="mdi mdi-magnify"></i>
          </div>
          <input #searchInput2 type="search" aria-label="Search" class="form-control bg-transparent border-0" [placeholder]="'Search By ' + placeholderText" [@slideInOut]
          (input)="onSearchChange($event)"  (keydown)="restrickedWord($event)"/>
          <div class="close-search" *ngIf="isShowCross" (click)="closeSearch()">
            <i class="mdi mdi-close"></i>
          </div>
        </div>
      </form>
    </div>
    <div class="new-custom-button">
      <a href="javascript:void(0);" data-toggle="modal" data-target="#AddSubAdminForm" class="custom-button"
        (click)="resetForm()">+ Add New Sub-admin</a>
    </div>
    <div class="three-dots-block">
      <div class="btn-group dropstart">
        <button type="button" class="btn btn-three-dots dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <ul class="icons2">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="loadAdmins('ALL')">All</a></li>
          <li>
            <a class="dropdown-item" (click)="loadAdmins('ACTIVE')">Active</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="loadAdmins('INACTIVE')">InActive</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="card-dsh new-card other-pages">
  <div class="card-body comman-scroll-block">
    <div class="table-responsive user-table">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th (click)="sorting('name')" class="custom-pointer">
              <span class="mdi mdi-unfold-more-horizontal custom-pointer-inner-icon"></span> Name
            </th>
            <!-- <th>Active/Inactive</th> -->
            <th>Role</th>
            <th>Email Address</th>
            <th>Phone no</th>
            <th>Status</th>
            <th class="action">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of admins.totalUsers">
            <td [routerLink]="['/subadmin-management/edit-subadmin',item._id]" style="color: #1B86FE;text-decoration: underline;font-weight: 600; cursor: pointer;">{{ item.manualUserId }}</td>
            <td >
              <div  style="max-width: 300px; overflow-x: auto; overflow-y: hidden">
                {{ item?.name }}
              </div>
            </td>
            <!-- <td [ngStyle]="{ color: item.isActive ? '#00ed64' : 'red' }">
              {{ item.isActive ? "Active" : "Inactive" }}
            </td> -->
            <td>{{item?.role}} </td>
            <td>
              <div class="email-block">
              <span class="icons-i2"><i class="mdi mdi-email menu-icon"></i></span>
              {{ item?.email }}</div>
            </td>
            <td>{{ item?.phone }}</td>
            <td style="text-align: center;">
              <div *ngIf="item.isActive" class="toggle-on" (click)="activeInactiveChange2('false',item._id)">
                <div class="toggle-on-circle"></div>
              </div>
              <div *ngIf="!item.isActive" class="toggle-off" (click)="activeInactiveChange2('true',item._id)">
                <div class="toggle-off-circle"></div>
              </div>
              <span style="font-size: 11px;" [ngStyle]="{ color: item.isActive ? '#00ed64' : 'red' }">{{ item.isActive ? "Active" : "Inactive" }}</span>
            </td>
            <td>
              <a class="pencile-green" [routerLink]="['/subadmin-management/edit-subadmin',item._id]"
              ><i class="fa fa-pencil"></i
            ></a>
              <!-- <div class="three-dots-block">
                <div class="btn-group dropstart">
                  <button type="button" class="btn btn-three-dots dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <ul class="icons2">
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" [routerLink]="[
                          '/sub-admin-management/edit-subadmin',
                          item._id
                        ]">Edit</a>
                    </li>
                    <li>
                      <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#enable"
                        (click)="changeAdminStatus('enable', item._id)">Enable</a>
                    </li>
                    <li>
                      <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#disable"
                        (click)="changeAdminStatus('disable', item._id)">Disable</a>
                    </li>
                    <li>
                      <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#permission"
                        (click)="checkPermission(item._id)">Permission</a>
                    </li>
                  </ul>
                </div>
              </div> -->
            </td>
          </tr>
        </tbody>
      </table>
      <div class="no-result-found" *ngIf="admins?.totalUsers?.length == 0">
        No result found
      </div>
    </div>
    <div class="next-previous-button-block">
      <button class="btn btn-previous" *ngIf="currentPage > 1" (click)="paginationAndSorting('PREVIOUS')">
        Previous
      </button>
      <button class="btn btn-next" (click)="paginationAndSorting('NEXT')"
        *ngIf="totalPage > 1 && totalPage != currentPage">
        Next
      </button>
    </div>
    <div class="page-count" *ngIf="totalPage >= 1">
      <p>Page {{ currentPage }} of {{ totalPage }}</p>
    </div>
  </div>

  <!-- Add Form -->
  <div class="modal fade" id="AddSubAdminForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">Add SubAdmin</h5>
          <button type="button" class="close closeModel" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="sub-title">Add SubAdmin Details</div>
        <form [formGroup]="addSubAdmin" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <label>Username</label>
                <span class="label-title">-mandatory</span>
                
                <div class="form-input-block">
                  <input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off"  formControlName="userName" [ngClass]="{
                      'is-invalid': (submitted && addSubAdmin.get('userName').hasError('required')) ||
                      (addSubAdmin.get('userName').hasError('required') && addSubAdmin.get('userName').touched) ||
                      addSubAdmin.get('userName').hasError('minlength') ||
                      addSubAdmin.get('userName').hasError('maxlength') ||
                      (addSubAdmin.get('userName').hasError('startsWithSpace') && !addSubAdmin.get('userName').hasError('required'))
                    }" />
                  <div class="invalid-feedback">
                    <div
                      *ngIf="(submitted && addSubAdmin.get('userName').hasError('required')) || (addSubAdmin.get('userName').hasError('required') && addSubAdmin.get('userName').touched)">
                      Username is required
                    </div>
                    <div *ngIf="addSubAdmin.get('userName').hasError('minlength')">
                      Username must be at least 6 characters
                    </div>
                    <div *ngIf="addSubAdmin.get('userName').hasError('maxlength')">
                      Username must not exceed 20 characters
                    </div>
                    <div
                      *ngIf="addSubAdmin.get('userName').hasError('startsWithSpace') && !addSubAdmin.get('userName').hasError('required')">
                      Cannot start with whitespace
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label>Role</label>
                <div class="form-input-block">
                  <select formControlName="role" class="form-select" [ngClass]="{
                      'is-invalid':
                        submitted && addSubAdmin.controls['role'].errors
                    }">
                    <option value="default"></option>
                    <option *ngFor="let role of roles.totalUsers; let i = index" [ngValue]="role._id">
                      {{ role.role }}
                    </option>
                  </select>
                  <div *ngIf="submitted && addSubAdmin.controls['role'].errors" class="invalid-feedback">
                    <div *ngIf="addSubAdmin.controls['role'].errors?.required">
                      Role is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label>Name </label>
                <span class="label-title">-mandatory</span>
                <div class="custom-flex-block">
                  <select class="form-select custom-select-made" aria-label="Default select example" formControlName="last">
                    <option value='Mr.'>Mr</option>
                    <option value='Miss.'>Miss</option>
                    <option value='Mrs.'>Mrs</option>
                    <option value='Dr.'>Dr</option>
                    <option value='Er.'>Er</option>
                  </select>
                  <input type="text" class="form-control"  autocomplete="off" autocorrect="off" autocapitalize="off" formControlName="firstName" class="form-control" 
                  [ngClass]="{
                    'is-invalid': (submitted && addSubAdmin.get('firstName').hasError('required')) ||
                    (addSubAdmin.get('firstName').hasError('required') && addSubAdmin.get('firstName').touched) ||
                    (addSubAdmin.get('firstName').hasError('startsWithSpace') && !addSubAdmin.get('firstName').hasError('required'))
                  }">
                </div>
                <div class="form-input-block">
                 
                  <div class="invalid-feedback">
                    <div *ngIf="(submitted && (addSubAdmin.get('firstName').hasError('required')) || 
                    ( addSubAdmin.get('firstName').hasError('required') &&  addSubAdmin.get('firstName').touched))">
                      Name is required
                    </div>
                   
                  </div>
                  <div
                  *ngIf=" addSubAdmin.get('firstName').touched && addSubAdmin.get('firstName').errors?.startsWithSpace &&
                   !addSubAdmin.controls['firstName'].errors?.required"
                  class="invalid-feedback"
                >
                  Cannot start with whitespace
                </div>
                </div>
              </div>
              <!-- <div class="col-md-6">
                <label>Last Name</label>
                <div class="form-input-block">
                  <input type="text" class="form-control" formControlName="lastName" class="form-control" [ngClass]="{
                      'is-invalid': (submitted && addSubAdmin.get('lastName').hasError('startsWithSpace') && addSubAdmin.get('lastName').touched) ||
                      (addSubAdmin.get('lastName').hasError('startsWithSpace') && addSubAdmin.get('lastName').touched)
                    }" />
                  <div class="invalid-feedback">

                    <div *ngIf="
                    addSubAdmin.get('lastName').hasError('startsWithSpace') && addSubAdmin.get('lastName').touched
                    ">
                      Cannot start with whitespace
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="col-md-6">
                <label>Email ID</label>
                <span class="label-title">-mandatory</span>
                <div class="form-input-block">
                  <input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" formControlName="email" class="form-control" [ngClass]="{
                      'is-invalid': (submitted && addSubAdmin.get('email').hasError('required')) ||
                      (addSubAdmin.get('email').hasError('required') && addSubAdmin.get('email').touched) ||
                      (addSubAdmin.get('email').hasError('startsWithSpace') && !(addSubAdmin.get('email').hasError('required')) && !(addSubAdmin.get('email').hasError('email'))) ||
                      addSubAdmin.get('email').hasError('invalidEmail') && addSubAdmin.get('email').touched
                    }" />
                  <div class="invalid-feedback">
                    
                    <div *ngIf="
                    (submitted && addSubAdmin.controls['email'].errors?.required && !(addSubAdmin.get('email').hasError('invalidEmail') && addSubAdmin.get('email').touched)) || 
    (addSubAdmin.controls['email'].errors?.required && addSubAdmin.get('email').touched)">
                      Email is required
                    </div>
                    <div *ngIf="
                    addSubAdmin.get('email').hasError('invalidEmail') && !(addSubAdmin.controls['email'].errors?.required)
                    ">
                      Email must be a valid email address
                    </div>
                    <div *ngIf="
                    addSubAdmin.get('email').hasError('startsWithSpace') &&
                      !(addSubAdmin.controls['email'].errors?.required)  && !(addSubAdmin.get('email').hasError('email'))
                    ">
                      Cannot start with whitespace
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label>Phone No</label>
                <span class="label-title">-mandatory</span>
                <ngx-intl-tel-input [cssClass]="'custom'"
              [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
              [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India"
              [phoneValidation]="true" name="phoneNumber"
             formControlName="phoneNumber"></ngx-intl-tel-input>
             <div class="invalid-feedback" *ngIf="
             (addSubAdmin.controls['phoneNumber'].errors && addSubAdmin.get('phoneNumber').touched) ||
             (submitted && addSubAdmin.controls['phoneNumber'].errors)
                      ">
                      Please enter valid phone number
                    </div>
              </div>

              <div class="col-md-6">
                <label>Password</label>
                <div class="form-input-block">
                  <input type="password" class="form-control" formControlName="password" class="form-control" [ngClass]="{
                      'is-invalid': (submitted && addSubAdmin.get('password').hasError('required')) ||
                      (addSubAdmin.get('password').hasError('required') && addSubAdmin.get('password').touched) ||
                      addSubAdmin.get('password').hasError('minlength') ||
                      (addSubAdmin.get('password').hasError('invalidPassword') && addSubAdmin.get('password').touched)
                    }" />
                  <div class="invalid-feedback">
                    <div *ngIf="
                    (submitted && addSubAdmin.controls['password'].errors?.required) ||
                    (addSubAdmin.controls['password'].errors?.required && addSubAdmin.get('password').touched) &&
                    !(addSubAdmin.get('password').hasError('invalidPassword') && addSubAdmin.get('password').touched)
                   
                  ">
                      Password is required
                    </div>
                    <div *ngIf="
                    addSubAdmin.get('password').hasError('invalidPassword') && addSubAdmin.get('password').touched
                    ">
                      Invalid password format. Please enter a password with at least:
                      <ul>
                        <li>Password must be at least 8 characters</li>
                        <li>1 uppercase letter</li>
                        <li>1 lowercase letter</li>
                        <li>1 special character</li>
                      </ul>
                    </div>
                    <div *ngIf="
                    addSubAdmin.get('password').errors?.startsWithSpace &&
                    !addSubAdmin.controls['password'].errors?.required
                  ">
                      Cannot start with whitespace
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-center">
              <button type="submit" class="btn btn-success modal-button" [disabled]="SERVER.isSubmitting">
                <i class="mdi mdi-sim"></i> Save
              </button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()" data-dismiss="modal"
                aria-label="Close">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->

  <!-- Modal -->

  <!-- Modal 4 document success-->
  <!-- <div class="modal fade" id="disable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog small-modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="custom-modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="document-approved-main">
            <div class="document-approved-main-image">
              <img src="../../assets/img/wallet/warning.png" />
            </div>
            <p class="document-reject-main-successfully">
              Disable Sub - Admin Account
            </p>
            <p class="document-reject-main-id">
              Do you want to disable sub - admin?
            </p>
            <div class="disabled-btn-block">
              <button class="btn-temporary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
              <button class="btn-permanent" (click)="updateUserStatus()">
                Disable
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Modal 5 document reject-->
  <!-- <div class="modal fade" id="enable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog small-modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="custom-modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="document-approved-main">
            <div class="document-reject-main-image">
              <img src="../../assets/img/wallet/fa-regular_user.png" />
            </div>
            <p class="document-reject-main-successfully">
              Enable Sub - admin Account
            </p>
            <p class="document-reject-main-id">Do you want to enable ?</p>
            <button class="btn-enable" (click)="updateUserStatus()">
              Enable
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Modal 6 permission-->

  <div class="modal fade" id="permission" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog small-modal-dialog2 modal-dialog-centered">
      <div class="modal-content modal-content2">
        <div class="custom-modal-header-permission">
          <div class="custom-modal-header-permission-inner">
            <h4>Permissions</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- <p class="custom-heading-label">Lorem ipsum  dolor sit amet </p> -->
        </div>
        <div class="modal-body p-0">
          <div class="border-bottom-block">
            <form>
              <div class="main-permissons" *ngFor="let item of permissons">
                <div class="main-permissons-label">
                  <span>{{ item?.manuName }}</span>
                </div>
                <div class="main-permissons-toggle2">
                  <div class="form-check form-switch custom-switch-checkbox">
                    <input class="form-check-input" [checked]="item.hasPermission" type="checkbox"
                      (click)="modifyPermission($event, item)" />
                  </div>
                </div>
              </div>
              <div class="save-button-block">
                <div class="btn btn-save" (click)="updatePermission()">
                  <img src="../../assets/img/wallet/permision-save.png" />Save
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="documentModalSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog small-modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="custom-modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="document-approved-main">
            <div class="document-approved-main-image10">
              <img src="../../assets/img/faces/document-tick.png" />
            </div>
            <p class="document-approved-main-successfully">
              {{ updateUser?.userAction }} Sub - admin Account!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="documentModalSuccess" tabindex="-1" role="dialog" [style.display]="attachmentModelStyle3">
  <div class="modal-dialog small-modal-custom modal-dialog-centered">
    <div class="modal-content">
      <div class="custom-modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="attacmentCloseModel3()"></button>
      </div>
      <div class="modal-body p-0">
          
              <div class="profile-upper-block">
                Are you sure you want to<br/> {{activeInactiveString}} this sub-admin?
              </div>
              <div class="button-block-yes-no">
                <button class="btn-yes" (click)="activeInactiveChange()">YES</button>
                <button class="btn-no" (click)="attacmentCloseModel3()">NO</button>
              </div>
      </div>
    </div>
  </div>
</div>