<div class="common-class">
  <div class="new-custom-button config">
    <a
      href="http://localhost/e-wallet/analytics-sucees.php"
      class="custom-button loyalty"
      >Generate Report
    </a>
  </div>

  <div class="new-custom-button genrate">
    <a
      href="javascript:void(0);"
      data-toggle="modal"
      data-target="#form"
      class="custom-button loyalty-gen"
    >
      Export File</a
    >
  </div>
  <div class="search-field custom-search">
    <form class="d-flex align-items-center h-100" action="#">
      <div class="input-group">
        <div class="input-group-prepend bg-transparent">
          <i class="input-group-text border-0 mdi mdi-magnify"></i>
        </div>
        <input
          type="text"
          class="form-control bg-transparent border-0"
          placeholder="Search here"
        />
      </div>
    </form>
  </div>
</div>
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'User')">User</button>
  <button class="tablinks" onclick="openCity(event, 'Merchant')">
    Merchant
  </button>
</div>

<!-- Tab content -->
<div id="User" class="tabcontent">
  <div class="card new-card other-pages">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-4 date-range">
              <p class="date-range-class">Date Range</p>

              <input
                type="date"
                class="date-range-card"
                id="date-range-card"
                value="12345"
              />
            </div>
            <div class="col-md-2 service">
              <p class="date-range-class">Service</p>
              <select id="date-range-service">
                <option>All</option>
                <option>Total User</option>
                <option>Transaction</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6 ttascation-graph">
          <h4>Transactions Analysis</h4>
        </div>

        <div class="col-md-6">
          <div class="comon-test">
            <div class="form-group row">
              <div class="col-md-4 total-user">
                <p class="total-pri-class">
                  Total User <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>

              <div class="col-md-4 total-user sec">
                <p class="total-pri-class">
                  Total User <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>
            </div>
          </div>
          <div class="comon-test">
            <div class="form-group row">
              <div class="col-md-4 total-user">
                <p class="total-pri-class">
                  Revenue <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>

              <div class="col-md-4 total-user sec">
                <p class="total-pri-class">
                  User Enga <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>
            </div>
          </div>

          <div class="comon-test">
            <div class="form-group row">
              <div class="col-md-4 total-user">
                <p class="total-pri-class">
                  Revenue <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>

              <div class="col-md-4 total-user sec">
                <p class="total-pri-class">
                  User Enga <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 ttascation-graph user-eng">
          <h4>User engagement</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="Merchant" class="tabcontent">
  <div class="card new-card other-pages">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-4 date-range">
              <p class="date-range-class">Date Range</p>

              <input
                type="date"
                class="date-range-card"
                id="date-range-card"
                value="12345"
              />
            </div>
            <div class="col-md-2 service">
              <p class="date-range-class">Service</p>
              <select id="date-range-service">
                <option>All</option>
                <option>Total User</option>
                <option>Transaction</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6 ttascation-graph">
          <h4>Transactions Analysis</h4>
        </div>
        <div class="col-md-6">
          <div class="comon-test">
            <div class="form-group row">
              <div class="col-md-4 total-user">
                <p class="total-pri-class">
                  Total User <span class="green-incre">+0.52% </span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>

              <div class="col-md-4 total-user sec">
                <p class="total-pri-class">
                  Total User <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>
            </div>
          </div>
          <div class="comon-test">
            <div class="form-group row">
              <div class="col-md-4 total-user">
                <p class="total-pri-class">
                  Revenue <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>

              <div class="col-md-4 total-user sec">
                <p class="total-pri-class">
                  User Enga <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>
            </div>
          </div>

          <div class="comon-test">
            <div class="form-group row">
              <div class="col-md-4 total-user">
                <p class="total-pri-class">
                  Revenue <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>

              <div class="col-md-4 total-user sec">
                <p class="total-pri-class">
                  User Enga <span class="green-incre">+0.52%</span>
                </p>

                <h5 class="total-price">$48879</h5>
                <p class="text-area">Average of last month</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 ttascation-graph user-eng">
          <h4>User engagement</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="form"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Export Data</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <label>Export Type</label>
              <div class="form-group row">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <label>From</label>
              <div class="form-group row">
                <input type="text" class="form-control" value="26/10/25" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
              <label for="vehicle1">List of Users</label><br />
              <input
                type="checkbox"
                id="vehicle2"
                name="vehicle2"
                value="Car"
              />
              <label for="vehicle2">Transactions </label><br />
              <input
                type="checkbox"
                id="vehicle2"
                name="vehicle2"
                value="Car"
              />
              <label for="vehicle2"> Business Report</label><br />
            </div>
            <div class="col-md-6">
              <label>To</label>
              <div class="form-group row">
                <input type="text" class="form-control" value="26/10/25" />
              </div>
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button type="submit" class="btn btn-success cacel-button">
              Cancel
            </button>
            <button type="submit" class="btn btn-success export-button">
              Export
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
