<div class="common-class">
  <span class="card-title new-title">Dashboard</span>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card1 card align-items-center">
      <img src="./assets/img/wallet/progress.png" alt="..." />
      <div class="card-body">
        <h5 class="card-title numbers">15</h5>
        <p class="card-text">Registed user</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card1 card align-items-center">
      <img src="./assets/img/wallet/progress.png" alt="..." />
      <div class="card-body">
        <h5 class="card-title numbers">15</h5>
        <p class="card-text">Registed user</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card1 card align-items-center">
      <img src="./assets/img/wallet/progress.png" alt="..." />
      <div class="card-body">
        <h5 class="card-title numbers">15</h5>
        <p class="card-text">Registed user</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card1 card align-items-center">
      <img src="./assets/img/wallet/progress.png" alt="..." />
      <div class="card-body">
        <h5 class="card-title numbers">15</h5>
        <p class="card-text">Registed user</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card1 card align-items-center">
      <img src="./assets/img/wallet/progress.png" alt="..." />
      <div class="card-body">
        <h5 class="card-title numbers">15</h5>
        <p class="card-text">Registed user</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card1 card align-items-center">
      <img src="./assets/img/wallet/progress.png" alt="..." />
      <div class="card-body">
        <h5 class="card-title numbers">15</h5>
        <p class="card-text">Registed user</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card new-card other-pages">
      <div class="card-body">
        <div class="dropdown-dots loyl-cut">
          <!-- three dots -->
          <ul
            class="dropbtn icons btn-right showLeft user-manage loyalty-dot-not showDropdown"
          >
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div id="myDropdown" class="dropdown-content">
            <a [routerLink]="['/notification-setting']" id="edit">Setting</a>
          </div>
        </div>
        <h5>New Member List</h5>
        <p>YOu have 84 new users</p>
        <div class="show-all-details">
          <span class="star-ciob">
            <i class="fa fa-star" aria-hidden="true"></i
          ></span>

          <span class="hash_number">#1</span>
          <span class="user-all-info"
            ><span class="user-full-email">Rebuild</span><br />
            <span class="user-ect-info">rebuildsubadmin</span></span
          >
          <span class="main-span"
            ><i class="fa fa-check" aria-hidden="true"></i
            ><span class="count-number"> 165 </span><br /><span
              class="history-a"
              >Transaction</span
            ></span
          >
        </div>

        <div class="show-all-details">
          <span class="star-ciob">
            <i class="fa fa-star" aria-hidden="true"></i
          ></span>

          <span class="hash_number">#1</span>
          <span class="user-all-info"
            ><span class="user-full-email">Rebuild</span><br />
            <span class="user-ect-info">rebuildsubadmin</span></span
          >
          <span class="main-span"
            ><i class="fa fa-check" aria-hidden="true"></i
            ><span class="count-number"> 165 </span><br /><span
              class="history-a"
              >Transaction</span
            ></span
          >
        </div>
        <div class="show-all-details">
          <span class="star-ciob">
            <i class="fa fa-star" aria-hidden="true"></i
          ></span>

          <span class="hash_number">#1</span>
          <span class="user-all-info"
            ><span class="user-full-email">Rebuild</span><br />
            <span class="user-ect-info">rebuildsubadmin</span></span
          >
          <span class="main-span"
            ><i class="fa fa-check" aria-hidden="true"></i
            ><span class="count-number"> 165 </span><br /><span
              class="history-a"
              >Transaction</span
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
