<div class="card new-card other-pages">
  <div class="card-body">
    <div class="user-go-back-main">
      <div class="user-go-back-main-inner" (click)="goBack()">
        <img src="../../assets/img/wallet/user-go-back.png" alt="" />
      </div>
      <h4 class="user-profile-heading">User Profile</h4>
    </div>
    <div class="row border-bottom-block56">
      <div class="col-md-6 mb-3">
        <div class="user-profile-image-block border-bottom-block">
          <div class="nav-profile-img prof-full">
            <img class='rounded-circle' [src]="
                user?.selfie
                  ? user?.selfie
                  : './assets/img/faces/user.png'
            " alt="Customer Image" />
          </div>
          <div class="nav-profile-text user-detail">
            <p class="mb-1 text-black user-name-custom">
              {{ user?.name?.first }} <span *ngIf="user?.userName">({{ user?.userName }})</span>
            </p>
            <p class="user-detail-custom-heading">{{ user?.role?.name }} </p>
            <p class="user-detail-custom">{{ user?.email?.email }}</p>
            <p class="user-detail-custom">
              {{ user?.phone?.countryCode }}{{ user?.phone?.phoneNumber }}
            </p>
          </div>
        </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="border-bottom-block">
            <form>
              <h4>Account Status</h4>
              <div class="main-permissons">
                <div class="main-permissons-label">
                  <label [ngStyle]="{color:user.isActive?'#28B446':'red'}">{{user.isActive?'Active':'InActive'}}</label>
                </div>
                <div class="main-permissons-toggle">
                  <div class="dactivateAccountMain">
                    <div class="form-check form-switch custom-switch-checkbox">
                      <div class="form-check form-switch custom-switch-checkbox">
                        <input class="form-check-input" [(ngModel)]="user.isActive" type="checkbox"
                          (click)="activeInactiveChange($event)" />
                      </div>
                    </div>
                    <div class="dactivateAccountUpper">
                      <a class="dactivateAccount">Deactive Account</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
       
         
            <div class="border-bottom-block56">
              <h4>Profile Settings</h4>
              <form [formGroup]="profile_form">
               
                <div class="row">
      <div class="col-md-6 mb-3">
        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-md-4 col-form-label">Name</label>
          <div class="col-md-8">
            <!-- <div class="custom-class-name-relative">
              <span class="custom-class-name-absolute"> {{user?.name?.last}} </span>
            </div> -->
            <div class="custom-flex-block">
              <select class="form-select custom-select-made" aria-label="Default select example" formControlName="last">
                <option value='Mr.'>Mr</option>
                <option value='Miss.'>Miss</option>
                <option value='Mrs.'>Mrs</option>
                <option value='Dr.'>Dr</option>
                <option value='Er.'>Er</option>
              </select>
             
           
            <input type="text" class="form-control background2 border-colr fame" formControlName="first_name"/>
            <span class="text-danger" *ngIf="
                profile_form.controls['first_name'].hasError('required') &&
                (profile_form.controls['first_name'].dirty ||
                  profile_form.controls['first_name'].touched)
              ">
              Name is required
            </span>
            <span class="text-danger" *ngIf="
                profile_form.get('first_name').errors?.startsWithSpace &&
                !profile_form.controls['first_name'].errors?.required
              ">Cannot start with whitespace</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-md-4 col-form-label">Mobile No.</label>
          <div class="col-md-8">
            <input type="text" class="form-control background current-password width-re border-colr"
              formControlName="phone_number" />
            <span class="text-danger float-end" *ngIf="
                profile_form.controls['phone_number'].hasError(
                  'required'
                ) && profile_form.controls['phone_number'].touched
              ">
              Phone Number is required
            </span>
          </div>
        </div>
        <!-- <label for="exampleInputUsername2" class="col-form-label float-leftss">Gender</label>
            <label for="radio_1" class="mr-3">
              <input type="radio" formControlName="gender" [checked]="user.gender == 1" id="radio_1" value="1" />
              Male
            </label>
            <label for="radio_2">
              <input type="radio" formControlName="gender" [checked]="user.gender == 2" id="radio_2" value="2" />
              Female
            </label> -->
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group row ">
            <label for="exampleInputUsername2" class="col-md-4 col-form-label">Email</label>
            <div class="col-md-8">
              <input type="text" class="form-control background current-password width-re border-colr"
                formControlName="email" />
              <span class="text-danger float-end" *ngIf="
                  profile_form.controls['email'].hasError('required') &&
                  profile_form.controls['email'].touched
                ">
                Email name is required
              </span>
            </div>
            <!-- </div> -->
          </div>
         
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-md-4 col-form-label">DOB</label>
            <div class="col-md-8">
              <input type="date" max="{{ today | date: 'yyyy-MM-dd' }}" class="form-control background border-colr"
                 formControlName="dateOfBirth" placeholder="dd-MM-YYYY" />
            </div>
          </div>
          <div class="border-bottom-block">
            <form [formGroup]="account_form">
              
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-md-4 pr-0 col-form-label">Wallet Balance (₱)</label>
                <div class="col-md-8">
                    <input type="text" class="form-control background border-colr" formControlName="wallet_balance" />
                  <span class="text-danger float-end" *ngIf="
                      account_form.controls['wallet_balance'].hasError(
                        'required'
                      ) && account_form.controls['wallet_balance'].touched
                    ">
                    wallet balance
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </form>
      <div class="custom-button-setting-upper">
        <button  class=" btn custom-button-setting" (click)="submitAll()">Save Setting</button>
      </div>
    </div>
    <div class="border-bottom-block">
      <div class="row border-bottom-block56">
        <div class="col-md-6 mb-3">
          <!-- <form>
            <h4>Reset Password</h4>
           
            <div class="form-group row mb-0">
              <label for="exampleInputUsername10" class="col-md-4 col-form-label">Enter Password</label>
              <div class="col-md-8">
                <input type="text" class="form-control background border-colr" />
              </div>
            </div>
            <div class="custom-button-setting-upper">
              <button  class="btn custom-button-setting" >Reset</button>
            </div>
          </form> -->
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit3()" novalidate>
            <h4>Reset Password</h4>
            <div class="form-group row mb-3">
              <label for="new-password" class="col-md-4 col-form-label">New Password</label>
              <div class="col-md-8">
                <div class="password-eye-block">
                  <input
                    type="{{ showPassword ? 'text' : 'password' }}"
                    placeholder="Set Password"
                    (keydown)="onKeyPress($event)"
                    class="form-control background border-colr"
                    id="new-password"
                    formControlName="newPassword"
                    [ngClass]="{'is-invalid': submitted && f.newPassword.errors}"
                  />
                  <div
                    class="eye-icon"
                    (click)="togglePasswordVisibility()"
                  >
                    <div class="password-tooltip">
                      <i
                        class="{{
                          showPassword ? 'mdi mdi-eye' : 'mdi mdi-eye-off'
                        }}"
                      ></i>
                      <span class="password-tooltip-text"
                        >Password must be at least 8 characters, 1
                        uppercase letter, 1 lowercase letter, 1 special
                        character</span
                      >
                    </div>
                  </div>
                </div>
                
                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                  <div *ngIf="f.newPassword.errors.invalidPassword && !(f.newPassword.errors.required)">Invalid password format.</div>
                </div>
              </div>
            </div>
            <div class="custom-button-setting-upper">
              <button type="submit" class="custom-button-setting">Reset</button>
            </div>
          </form>
          </div>
          <div class="col-md-6 mb-3">
            <div class="border-bottom-block">
              <form [formGroup]="preference">
                <h4 class="mb-3">Email Notification</h4>
                <div class="main-permissons">
                  <div class="main-permissons-label2">
                    <label>Notify me updates throught email</label>
                  </div>
                  <div class="main-permissons-toggle">
                    <div class="form-check form-switch custom-switch-checkbox custom-switch-checkbox2">
                      <input class="form-check-input form-check-input2" type="checkbox" formControlName="email" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>
    </div>
    <div class="border-bottom-block56 mb-5" *ngIf="user?.address && user.address.length > 0">
      <h4>Address</h4>
      <div class="table-responsive user-table">
        <table class="table">
          <thead>
            <tr>
              <th>Address</th>
              <th>Address Type</th>
              <th>Preferred </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of user?.address">
              <td>{{item?.flatNo}}, {{item?.streetName}}, {{item?.city}},
                {{item?.country}}</td>
              <td>{{item?.addressTypeValue}}</td>
              
              <td>{{item?.preferredAddress === true ? 'Yes':'No'}}</td>
                    </tr>
          </tbody>
        </table>
        <div class="no-result-found" *ngIf="user.address.length === 0">
          No Address found
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
    <div class="main-document-status border-bottom-block56">
      <div class="main-document-status-label">
        <label>Document Status : </label>
      </div>
      <div class="main-document-status-status">
        <span [ngStyle]="getStrongStyle(user?.verificationStatus)">{{
          user?.verificationStatusName
          }}</span>
      </div>
      <div class="main-document-button-block">
        <button class="btn view-document-button" [disabled]="user?.verificationStatus == 'NO DATA FOUND' || user?.verificationStatus === 1  || user?.verificationStatus === 5" (click)="showDocumentModel()">
          View Document
        </button>
      </div>
    </div>
  </div>
  </div>
    <!-- <div class="row">
      <div class="col-md-6 mb-3">
        <div class="user-profile-image-block border-bottom-block">
          <div class="nav-profile-img prof-full">
            <img class='rounded-circle' [src]="
                user?.picture?.profilePic
                  ? user?.picture?.profilePic
                  : './assets/img/faces/user.png'
            " alt="Customer Image" />
          </div>
          <div class="nav-profile-text user-detail">
            <p class="mb-1 text-black user-name-custom">
              {{ user?.name?.first }}
            </p>
            <p class="user-detail-custom-heading">{{ user?.role?.name }}</p>
            <p class="user-detail-custom">{{ user?.email?.email }}</p>
            <p class="user-detail-custom">
              {{ user?.phone?.countryCode }}{{ user?.phone?.phoneNumber }}
            </p>
          </div>
        </div>
        <div class="border-bottom-block">
          <form [formGroup]="profile_form">
            <h4>Profile Settings</h4>
            <div class="form-group row">
              <label for="exampleInputUsername2" class="col-md-4 col-form-label">Name</label>
              <div class="col-md-8">
                <input type="text" class="form-control background2 border-colr fame" formControlName="first_name" />
                <span class="text-danger" *ngIf="
                    profile_form.controls['first_name'].hasError('required') &&
                    (profile_form.controls['first_name'].dirty ||
                      profile_form.controls['first_name'].touched)
                  ">
                  Name is required
                </span>
                <span class="text-danger" *ngIf="
                    profile_form.get('first_name').errors?.startsWithSpace &&
                    !profile_form.controls['first_name'].errors?.required
                  ">Cannot start with whitespace</span>
              </div>
            
            </div>

            <div class="form-group row updown ">
              <label for="exampleInputUsername2" class="col-md-4 col-form-label">Email</label>
              <div class="col-md-8">
                <input type="text" class="form-control background current-password width-re border-colr"
                  formControlName="email" />
                <span class="text-danger float-end" *ngIf="
                    profile_form.controls['email'].hasError('required') &&
                    profile_form.controls['email'].touched
                  ">
                  Email name is required
                </span>
              </div>
              
            </div>
            <div class="form-group row updown">
              <label for="exampleInputUsername2" class="col-md-4 col-form-label">Mobile No.</label>
              <div class="col-md-8">
                <input type="text" class="form-control background current-password width-re border-colr"
                  formControlName="phone_number" />
                <span class="text-danger float-end" *ngIf="
                    profile_form.controls['phone_number'].hasError(
                      'required'
                    ) && profile_form.controls['phone_number'].touched
                  ">
                  Phone Number is required
                </span>
              </div>
            </div>
            <div class="form-group row updown">
              <label for="exampleInputUsername2" class="col-md-4 col-form-label">DOB</label>
              <div class="col-md-8">
                <input type="date" max="{{ today | date: 'yyyy-MM-dd' }}" class="form-control background border-colr"
                   formControlName="dateOfBirth" placeholder="dd-MM-YYYY" />
              </div>
            </div>
            <label for="exampleInputUsername2" class="col-form-label float-leftss">Gender</label>
            <label for="radio_1" class="mr-3">
              <input type="radio" formControlName="gender" [checked]="user.gender == 1" id="radio_1" value="1" />
              Male
            </label>
            <label for="radio_2">
              <input type="radio" formControlName="gender" [checked]="user.gender == 2" id="radio_2" value="2" />
              Female
            </label>
          </form>
        </div>
        <div class="border-bottom-block">
          <form>
            <h4>Reset Password</h4>
           
            <div class="form-group row">
              <label for="exampleInputUsername10" class="col-md-4 col-form-label">Send Otp</label>
              <div class="col-md-8">
                <input type="text" class="form-control background border-colr" id="current-password11" value="{{ user?.phone?.countryCode }}{{
                    user?.phone?.phoneNumber
                  }}" />
              </div>
            </div>
          </form>
        </div>
        <div class="main-document-status">
          <div class="main-document-status-label">
            <label>Document Status : </label>
          </div>
          <div class="main-document-status-status">
            <span [ngStyle]="getStrongStyle(user?.verificationStatus)">{{
              user?.verificationStatusName
              }}</span>
          </div>
          <div class="main-document-button-block">
            <button class="btn view-document-button" [disabled]="user?.verificationStatus == 'NO DATA FOUND' || user?.verificationStatus === 1  || user?.verificationStatus === 5" (click)="showDocumentModel()">
              View Document
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="border-bottom-block">
          <form>
            <h4>Account Status</h4>
            <div class="main-permissons">
              <div class="main-permissons-label">
                <label [ngStyle]="{color:user.isActive?'#28B446':'red'}">{{user.isActive?'Active':'InActive'}}</label>
              </div>
              <div class="main-permissons-toggle">
                <div class="dactivateAccountMain">
                  <div class="form-check form-switch custom-switch-checkbox">
                    <div class="form-check form-switch custom-switch-checkbox">
                      <input class="form-check-input" [(ngModel)]="user.isActive" type="checkbox"
                        (click)="activeInactiveChange($event)" />
                    </div>
                  </div>
                  <div class="dactivateAccountUpper">
                    <a href="" class="dactivateAccount">Deactive Account</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="border-bottom-block">
          <form [formGroup]="account_form">
            
            <div class="form-group row updown">
              <label for="exampleInputUsername2" class="col-md-4 col-form-label">Wallet Balance</label>
              <div class="col-md-8">
                <input type="text" class="form-control background border-colr" formControlName="wallet_balance" />
                <span class="text-danger float-end" *ngIf="
                    account_form.controls['wallet_balance'].hasError(
                      'required'
                    ) && account_form.controls['wallet_balance'].touched
                  ">
                  wallet balance
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="border-bottom-block">
          <form [formGroup]="preference">
            <h4 class="mb-3">Email Notification</h4>
            <div class="main-permissons">
              <div class="main-permissons-label2">
                <label>Notify me updates throught email</label>
              </div>
              <div class="main-permissons-toggle">
                <div class="form-check form-switch custom-switch-checkbox custom-switch-checkbox2">
                  <input class="form-check-input form-check-input2" type="checkbox" formControlName="email" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="mt-3" *ngIf="user?.address && user.address.length > 0">
          <div class="border-bottom-block">
            <h4 class="mb-3">Address</h4>
            <div class="row" *ngFor="let item of user?.address">
              <div class="col-md-12" *ngIf="!item.preferredAddress">
                <div class="preffered-address-block">
                  <p class="preffered-address-block-label preffered-address-block-label2">
                    {{item?.addressTypeValue}} :
                  </p>
                  <p class="preffered-address-block-data">
                    flat :{{item?.flatNo}}, {{item?.streetName}}, {{item?.city}},
                    {{item?.country}}
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="mt-3" *ngIf="user?.address && user.address.length > 0">
          <div class="border-bottom-block">
            <h4 class="mb-3">Preferred Address</h4>
            <div class="row" *ngFor="let item of user?.address">
              <div class="col-md-12" *ngIf="item.preferredAddress">
                <div class="preffered-address-block">
                  <p class="preffered-address-block-label preffered-address-block-label2">
                    {{item?.addressTypeValue}} :
                  </p>
                  <p class="preffered-address-block-data">
                    flat :{{item?.flatNo}}, {{item?.streetName}}, {{item?.city}},
                    {{item?.country}}
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="form-group row updown-dt">
          <div class="col-md-6">
            <button class="custom-button-rest">Reset All</button>
          </div>
          <div class="col-md-6">
            <button  class="custom-button-setting" (click)="submitAll()">Save Setting</button>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  
</div>

<!-- Modal 1 -->
<div class="modal" id="documentModal" tabindex="-1" role="dialog" [style.display]="documentModelStyle">
<!-- <div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="custom-modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeDocumentModelStyle()"></button>
      </div>
      <div class="modal-body">
        <div class="profile-upper-block">
          <div class="profile-upper-block-first">
            <div class="row">
              <div class="col-md-7">
                <div class="user-profile-image-block">
                  <div class="nav-profile-img prof-full">
                    <img class='rounded-circle' [src]="
                      user?.selfie
                        ? user?.selfie
                        : './assets/img/faces/user.png'
                    " alt="image" />
                  </div>
                  <div class="user-profile-details-doc">
                    <p class="user-name">{{ user?.name?.first }}</p>
                    <p class="user-email">{{ user?.email?.email }}</p>
                    <p class="user-id">#INV-{{ user?._id }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="aadhar-uploaded-upper">
                  <p class="aadharUploaded" [ngStyle]="getStrongStyle(user?.verificationStatus)">
                    {{user?.verificationStatusName}}</p>
                  <div class="green-tik-image" *ngIf="user?.verificationStatus == 2 || user?.verificationStatus == 5">
                    <img src="../../assets/img/faces/green-tick.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-upper-block-second">
            <div class="row custom-row">
              <div class="col-md-3">
                <div class="">
      
                </div>
               
              </div>
              <div class="col-md-2">
                <div class="">
                 
                </div>
               
              </div>
              <div class="col-md-2">
                <div class="" style="text-align: center;">
                  <span class="buttons-Names" >Status</span>
                </div>
               
              </div>
              <div class="col-md-5">
                <div class="remarks-block" style="text-align: center;">
                  <span>Remarks</span>
                </div>
               
              </div>
            </div>
            <div class="row custom-row align-items-center">
              <div class="col-md-3">
                <div class="">
                  <p>Selfie</p>
                </div>
               
              </div>
              <div class="col-md-2">
                <!-- <div class="view-button" data-bs-toggle="modal" data-bs-target="#documentModalFront"> -->
                  <div class="view-button" (click)="showSelfie()">
                  <span >View</span>
                </div>
               
              </div>
              <div class="col-md-2">
                <div class="" style="text-align: center;">
                  <span class="pending" *ngIf="user?.selfieVerificationStatus === 3"><i class="mdi mdi-information"></i></span>
                  <span class="rejected" *ngIf="user?.selfieVerificationStatus === 4"><i class="mdi mdi-close-circle"></i></span>
                  <span class="approved" *ngIf="user?.selfieVerificationStatus === 5"><i class="mdi mdi-checkbox-marked-circle"></i></span>
                  <div class="status-name">{{user?.SelfieVerificationStatusName}}</div>
                </div>
               
              </div>
              <div class="col-md-5" >
                <div class="custom-textarea" style="text-align: center;">
                 <span>{{user?.selfieReason ? user?.selfieReason : '--'}}</span>
                </div>
               
              </div>
            </div>
            <div class="row custom-row align-items-center">
              <div class="col-md-3">
                <div class="">
                  <p>Govt Id</p>
                </div>
               
              </div>
              <div class="col-md-2">
                <div class="view-button" (click)="showGovtId()">
                  <span>View</span>
                </div>
               
              </div>
              <div class="col-md-2">
                <div class="" style="text-align: center;">
                  <span class="pending" *ngIf="user?.govtIdVerificationStatus === 3"><i class="mdi mdi-information"></i></span>
                  <span class="rejected" *ngIf="user?.govtIdVerificationStatus === 4"><i class="mdi mdi-close-circle"></i></span>
                  <span class="approved" *ngIf="user?.govtIdVerificationStatus === 5"><i class="mdi mdi-checkbox-marked-circle"></i></span>
                  <div class="status-name">{{user?.govtIdVerificationStatusName}}</div>
                </div>
               
              </div>
              <div class="col-md-5">
                <div class="custom-textarea" style="text-align: center;">
                  <span>{{user?.govtIdReason ? user?.govtIdReason : '--'}}</span>
                </div>
               
              </div>
            </div>
            <div class="row custom-row align-items-center">
              <div class="col-md-3">
                <div class="">
                  <p>Email</p>
                </div>
               
              </div>
              <div class="col-md-2">
                <div class="view-button" (click)="showEmail()">
                  <span>View</span>
                </div>
               
              </div>
              <div class="col-md-2">
                <div class="" style="text-align: center;">
                  <span class="pending" *ngIf="user?.emailVerificationStatus === 3"><i class="mdi mdi-information"></i></span>
                  <span class="rejected" *ngIf="user?.emailVerificationStatus === 4"><i class="mdi mdi-close-circle"></i></span>
                  <span class="approved" *ngIf="user?.emailVerificationStatus === 5"><i class="mdi mdi-checkbox-marked-circle"></i></span>
                  <div class="status-name">{{user?.emailVerificationStatusName}}</div>
                </div>
               
              </div>
              <div class="col-md-5">
                <div class="custom-textarea" style="text-align: center;">
                  <span>{{user?.emailReason ? user?.emailReason : '--'}}</span>
                </div>
               
              </div>
            </div>
            <div class="row custom-row align-items-center">
              <div class="col-md-3">
                <div class="">
                  <p>Address</p>
                </div>
               
              </div>
              <div class="col-md-2">
                <div class="view-button" (click)="showAddress()">
                  <span>View</span>
                </div>
               
              </div>
              <div class="col-md-2">
                <div class="" style="text-align: center;">
                  <span class="pending" *ngIf="user?.addressVerificationStatus === 3"><i class="mdi mdi-information"></i></span>
                  <span class="rejected" *ngIf="user?.addressVerificationStatus === 4"><i class="mdi mdi-close-circle"></i></span>
                  <span class="approved" *ngIf="user?.addressVerificationStatus === 5"><i class="mdi mdi-checkbox-marked-circle"></i></span>
                  <div class="status-name">{{user?.addressVerificationStatusName}}</div>
                </div>
               
              </div>
              <div class="col-md-5">
                <div class="custom-textarea" style="text-align: center;">
                  <span>{{user?.addressReason ? user?.addressReason : '--'}}</span>
                </div>
               
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-6">
                <div class="document-left-block">
                  <p class="document-left-block-heading">Frontside</p>
                  <div class="document-aadhar-block" *ngIf="user?.govtId && user?.govtId?.[0]">
                    <img [src]="user?.govtId?.[0]" alt="image" />
                    <div class="view-text" data-bs-toggle="modal" data-bs-target="#documentModalFront">
                      View
                    </div>
                  </div>
                  <div class="documentNotUploadedContent" *ngIf="!user?.govtId?.[0]">
                    Not Uploded
                  </div>
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="document-left-block">
                  <p class="document-left-block-heading">Backside</p>
                  <div class="document-aadhar-block" *ngIf="user?.govtId && user?.govtId?.[1]">
                    <img [src]="user?.govtId?.[1]" alt="image" />
                    <div class="view-text" data-bs-toggle="modal" data-bs-target="#documentModalBack">
                      View
                    </div>
                  </div>
                  <div class="documentNotUploadedContent" *ngIf="!user?.govtId?.[1]">
                    Not Uploded
                  </div>
                </div>
                
              </div>
            </div> -->
            <!-- <div class="mandatory-blcok mt-4">
            <div class="row">
              <div class="col-md-6">
                <p class="mandatory-blcok">Mandatory <span>*</span></p>
              </div>
              <div class="col-md-6">
                <div class="mandatory-blcok-count">
                  {{user?.govtId?.length?user?.govtId?.length:0}}/2
                </div>
              </div>
            </div>
          </div> -->
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal 2-->
<!-- <div class="modal fade" id="documentModalFront" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
  <div class="modal" id="documentModalSuccess" tabindex="-1" role="dialog" [style.display]="attachmentModelStyleSelfie">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal-contant">
      <div class="custom-modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="attachmentModelStyleSelfieF()"></button>
      </div>
      <div class="modal-body mt-0">
        <div class="profile-upper-block">
          <div class="profile-upper-block-second">
            <div class="row">
              <div class="col-md-12">
                <div class="document-left-block">
                  <p class="document-left-block-heading2">Selfie</p>
                  <div class="document-aadhar-block2">
                    <img [src]="user?.selfie" alt="image" />
                  </div>
                </div>
                <div class="profile-comment-block">
                  <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="comment1" rows="3"></textarea>
                  <div class="red-color" *ngIf="isComment1 && comment1 == ''">
                    Comment is required
                  </div>
                </div>
                <div class="modal-footer cutom-modal-button-block">
                  <button type="button" class="btn btn-approve" (click)="approvedDocument(1)">
                    Approve
                  </button>
                  <button type="button" class="btn btn-reject" [disabled]="this.comment1 === null || this.comment1 === ''" (click)="rejectDocument(1)">
                    Reject
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="documentModalSuccess" tabindex="-1" role="dialog" [style.display]="attachmentModelStyleGovtId">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal-contant">
      <div class="custom-modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="attachmentModelStyleGovtIdF()"></button>
      </div>
      <div class="modal-body mt-0">
        <div class="profile-upper-block">
          <div class="profile-upper-block-second">
            <p class="document-left-block-heading2" style="text-align: center;">Govt Id</p>
            <div class="row mb-5">
                <div class="col-md-6">
                <div class="document-left-block">
                  <p class="document-left-block-heading2">Frontside</p>
                  <div class="document-aadhar-block2" *ngIf="user?.govtId?.[0]">
                    <img [src]="user?.govtId[0]" alt="image" />
                  </div>
                  <div class="documentNotUploadedContent" *ngIf="!user?.govtId?.[0]">
                    Not Uploded
                  </div>
                </div>
                </div>
                <div class="col-md-6">
                  <div class="document-left-block">
                    <p class="document-left-block-heading2">Backside</p>
                    <div class="document-aadhar-block2" *ngIf="user?.govtId?.[1]">
                      <img [src]="user?.govtId?.[1]" alt="image" />
                    </div>
                    <div class="documentNotUploadedContent" *ngIf="!user?.govtId?.[1]">
                      Not Uploded
                    </div>
                  </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-md-12">
                <div class="profile-comment-block">
                  <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1"  (ngModelChange)="validateComment()" [(ngModel)]="comment4" rows="3"></textarea>
                  <div class="red-color" *ngIf="isComment4 && comment4 == ''">
                    Comment is required
                  </div>
                </div>
                <div class="modal-footer cutom-modal-button-block">
                  <button type="button" class="btn btn-approve" (click)="approvedDocument(4)">
                    Approve
                  </button>
                  <button type="button" class="btn btn-reject" [disabled]="this.comment4 === null || this.comment4 === ''" (click)="rejectDocument(4)">
                    Reject
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="documentModalSuccess" tabindex="-1" role="dialog" [style.display]="attachmentModelStyleEmail">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal-contant">
      <div class="custom-modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="attachmentModelStyleEmailF()"></button>
      </div>
      <div class="modal-body mt-0">
        <div class="profile-upper-block">
          <div class="profile-upper-block-second">
            <div class="row">
              <div class="col-md-12">
                <div class="document-left-block">
                  <p class="document-left-block-heading2">Email</p>
                <p class="userEmail">{{user?.email?.email}}</p>
                </div>
                <div class="profile-comment-block">
                  <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="comment2" rows="3"></textarea>
                  <div class="red-color" *ngIf="isComment2 && comment2 == ''">
                    Comment is required
                  </div>
                </div>
                <div class="modal-footer cutom-modal-button-block">
                  <button type="button" class="btn btn-approve" (click)="approvedDocument(2)">
                    Approve
                  </button>
                  <button type="button" class="btn btn-reject" [disabled]="this.comment2 === null || this.comment2 === ''" (click)="rejectDocument(2)">
                    Reject
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="documentModalSuccess" tabindex="-1" role="dialog" [style.display]="attachmentModelStyleAddress">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal-contant">
      <div class="custom-modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="attachmentModelStyleAddressF()"></button>
      </div>
      <div class="modal-body mt-0">
        <div class="profile-upper-block">
          <div class="profile-upper-block-second">
            <div class="row">
              <div class="col-md-12">
                <div class="document-left-block">
                  <p class="document-left-block-heading2">Address</p>
                  <div class="row" *ngFor="let item of user?.address">
                    <div class="col-md-12" *ngIf="item.preferredAddress">
                      <div class="preffered-address-block">
                        <p class="preffered-address-block-label">
                          Preferred Address :
                        </p>
                        <p class="preffered-address-block-data">
                          flat :{{item?.flatNo}}, {{item?.streetName}}, {{item?.city}},
                          {{item?.country}}
                        </p>
                      </div>
                    </div>
      
                  </div>
                </div>
                <div class="profile-comment-block">
                  <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="comment3" rows="3"></textarea>
                  <div class="red-color" *ngIf="isComment3 && comment3 == ''">
                    Comment is required
                  </div>
                </div>
                <div class="modal-footer cutom-modal-button-block">
                  <button type="button" class="btn btn-approve" (click)="approvedDocument(3)">
                    Approve
                  </button>
                  <button type="button" class="btn btn-reject" [disabled]="this.comment3 === null || this.comment3 === ''" (click)="rejectDocument(3)">
                    Reject
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 3-->
<div class="modal fade" id="documentModalBack" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal-contant">
      <div class="custom-modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="profile-upper-block">
          <div class="profile-upper-block-second">
            <div class="row">
              <div class="col-md-12">
                <div class="document-left-block">
                  <p class="document-left-block-heading2">Backside</p>
                  <div class="document-aadhar-block2">
                    <img [src]="user?.govtId?.[1]" alt="image" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="documentModalSuccess" tabindex="-1" role="dialog" [style.display]="aprrovedModelStyle">
  <div class="modal-dialog small-modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="custom-modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="aprrovedCloseModel()"></button>
      </div>
      <div class="modal-body">
        <div class="document-approved-main">
          <div class="document-approved-main-image">
            <img src="../../assets/img/faces/document-tick.png" />
          </div>
          <p class="document-approved-main-successfully">
            Documents Approved Successfully!
          </p>
          <p class="document-approved-main-id">#INV-{{ user?._id }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 document reject-->
<div class="modal" id="documentModalReject" tabindex="-1" role="dialog" [style.display]="modelStyle">
  <div class="modal-dialog small-modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content custom-modal-content">
      <div class="custom-modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModel()"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="document-approved-main">
          <div class="document-reject-main-image">
            <img src="../../assets/img/faces/document-reject.png" />
          </div>
          <p class="document-reject-main-successfully">Documents Rejected</p>
          <p class="document-reject-main-id">#INV-{{ user?._id }}</p>
        </div>
        <div class="reject-comment">
          <p class="document-reject-main-id">
            Comments <span style="color: black"> :</span>
          </p>
          <p *ngIf="documentType === 1" class="reject-comment-inner">{{comment1}}</p>
          <p *ngIf="documentType === 2" class="reject-comment-inner">{{comment2}}</p>
          <p *ngIf="documentType === 3" class="reject-comment-inner">{{comment3}}</p>
          <p *ngIf="documentType === 4" class="reject-comment-inner">{{comment4}}</p>

        </div>
      </div>
    </div>
  </div>
</div>